<div class="jumbotron">
    <h1>List of Radios</h1>
    <div class="list-group well" ng-repeat="radio in vm.radios">
        <a href="#" data-toggle="collapse" data-target="#{{radio.name}}shows" class="list-group-item text-center">
            <img ng-src="{{radio.logo}}" class="img-rounded img-responsive" alt={{radio.name}}" width="250" height="250">
            <h1>{{radio.name | capitalize}}</h1>
        </a>
        <div id="{{radio.name}}shows" class="collapse">
            <h2>Shows</h2>
            <div class="list-group well" ng-repeat="show in radio.shows">
                <a ui-sref="radioShow({ radioName: radio.name, showName: show.name })"
                   data-target="#{{radio.name}}shows" class="list-group-item text-center">
                    <img ng-src="{{show.img}}" class="img-rounded img-responsive" alt={{radio.name}}" width="100" height="100">
                    <h3>{{show.label}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>